$button-login-shadow: rgba(0, 0, 0, 0.25);

#send {
  position: absolute;
  top: 37.5%;
  right: 6%;
  height: 50px;
  width: 50px;
  transform: translate(0, -50%);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 0;
  background-color: transparent;
  background-image: url('send.png');
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
      border-color: $button-hover-color;
  }

  &:focus,
  &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
  }
}

#Login {
  top: 0px;
  left: 0px;
  width: 341px;
  height: 97px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 1px $button-login-shadow;
  background: $password-input-background;
  background: -webkit-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -o-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -moz-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -ms-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
}

.login-button, .to-register-button, .register-button {
  position: relative;
  display: block;
  height: 75px;
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(135deg, $button-gradient-start, $button-gradient-end), $button-default-color;
  font-size: 26px;
  font-family: 'Roboto';
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.login-button {
  margin-top: 5%;
}

.to-register-button {
  margin-top: 2%;
}

.register-button {
  margin-top: 6%;
}


.login-button:hover, .to-register-button:hover, .register-button:hover {
  background: linear-gradient(135deg, $button-gradient-start, $button-gradient-end), $button-hover-color-alt;
}

.login-button:focus, .to-register-button:focus, .register-button:focus {
  outline: none;
}


.back-button {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  background-image: url('back.png');
  background-size: cover;
  transition: transform 0.3s ease; 
}

.back-button:hover {
  transform: scale(1.3); 
}