$button-login-shadow: rgba(0, 0, 0, 0.25);

#send {
  position: absolute;
  top: 65%;
  right: 19%;
  height: 45px;
  width: 45px;
  margin-right: -5px;
  transform: translate(5px, -50%);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 0;
  background-image: url('/images/send.png');
  background-size: 100%;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease, margin-right 0.3s;

  &:hover {
    transform: scale(1.2) translate(2px, -45%); 
    margin-right: 0;
  }
}

.voice_button {
  position: fixed;
  height: 80px;
  width: 80px;
  top: 42%;
  left: 88.2%;
  background-image: url('/images/voice.png');
  background-size: 100%;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  transition: transform 0.3s ease, margin-right 0.3s;
}

.voice_button:hover {
  transform: scale(1.2);  
  margin-right: 0;
}


#expand_field_button {
  position: fixed;
  height: 50px;
  width: 93px;
  top: 5%;
  left: 45%;
  background-image: url('/images/expand.png');
  background-size: 100%;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  transition: transform 0.3s ease, margin-right 0.3s;
  z-index: 9;

  &:hover {
    transform: scale(1.1) translate(2px, 10%);
    margin-right: 0;
  }
}



#Login {
  top: 0px;
  left: 0px;
  width: 341px;
  height: 97px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 1px $button-login-shadow;
  background: $password-input-background;
  background: -webkit-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -o-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -moz-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -ms-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
}

.login-button, .to-register-button, .register-button {
  position: relative;
  display: block;
  height: 75px;
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(135deg, $button-gradient-start, $button-gradient-end), $button-default-color;
  font-size: 26px;
  font-family: 'Roboto';
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.login-button {
  margin-top: 5%;
}

.to-register-button {
  margin-top: 2%;
}

.register-button {
  margin-top: 6%;
}


.login-button:hover, .to-register-button:hover, .register-button:hover {
  background: linear-gradient(135deg, $button-gradient-start, $button-gradient-end), $button-hover-color-alt;
}

.login-button:focus, .to-register-button:focus, .register-button:focus {
  outline: none;
}


.back-button {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  background-image: url('/images/back.png');
  background-size: cover;
  transition: transform 0.3s ease; 
}

.back-button:hover {
  transform: scale(1.3); 
}

.expandMenu, .account, .difficulty, .shop, .instruction, .settings {
  background-size: cover;
  background-color: transparent;
  border: 0;
  transition: transform 0.3s ease, margin-right 0.3s;

  &:hover {
    transform: scale(1.1);
    margin-right: 0;
  }
}

.expandMenu {
  position: absolute;
  margin-top: 25px;
  top: 0;
  background-image: url('/images/menu.png');
  height: 50px;
  width: 50px;
}

.account {
  background-image: url('/images/account.png');
  height: 50px;
  width: 50px;
}

.difficulty {
  background-image: url('/images/difficulty.png');
  height: 50px;
  width: 70px;
}

.shop {
  background-image: url('/images/shop.png');
  height: 55px;
  width: 60px;
}

.instruction {
  background-image: url('/images/instruction.png');
  height: 60px;
  width: 60px;
}

.settings {
  background-image: url('/images/settings.png');
  height: 60px;
  width: 60px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1800px) {
  #expand_field_button {
    width: 60px;
  }
  .voice_button {
    width: 70px;
    left: 86.5%;
  }
}
@media only screen and (min-width: 2561px) {
  .voice_button {
    width: 100px;
    left: 88.5%;
  }
}


@media only screen and (max-width: 1400px) {
  #expand_field_button {
    width: 50px;
  }
  .voice_button {
    width: 60px;
    left: 87%;
  }
}