$button-login-shadow: rgba(0, 0, 0, 0.25);

#send {
  position: absolute;
  bottom: 30px;
  right: 19%;
  height: 45px;
  width: 45px;
  margin-right: -5px;
  transform: translate(5px, -50%);
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 0;
  background-image: url('/images/send.png');
  background-size: 100%;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease, margin-right 0.3s;

  &:hover {
    transform: scale(1.2) translate(2px, -45%); 
    margin-right: 0;
  }
}

.voice_button {
  position: absolute;
  height: 50px;
  bottom: 60px;
  background-image: url('/images/voice.png');
  background-size: 100%;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  transition: transform 0.3s ease;
}

.voice_button:hover {
  transform: scale(1.4); 
}


#expand_field_button {
  position: relative;
  height: 50px;
  left: -3%;
  background-image: url('/images/expand.png');
  background-size: 100%;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  transition: transform 0.3s ease;
}

#Login {
  top: 0px;
  left: 0px;
  width: 341px;
  height: 97px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 1px $button-login-shadow;
  background: $password-input-background;
  background: -webkit-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -o-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -moz-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: -ms-linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
  background: linear-gradient(-225.11807074516deg, $password-input-gradient-start, 0.8 0%, $password-input-gradient-start, 0.4 100%);
}

.login-button, .to-register-button, .register-button {
  position: relative;
  display: block;
  height: 75px;
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(135deg, $button-gradient-start, $button-gradient-end), $button-default-color;
  font-size: 26px;
  font-family: 'Roboto';
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.login-button {
  margin-top: 5%;
}

.to-register-button {
  margin-top: 2%;
}

.register-button {
  margin-top: 6%;
}


.login-button:hover, .to-register-button:hover, .register-button:hover {
  background: linear-gradient(135deg, $button-gradient-start, $button-gradient-end), $button-hover-color-alt;
}

.login-button:focus, .to-register-button:focus, .register-button:focus {
  outline: none;
}


.back-button {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  background-image: url('/images/back.png');
  background-size: cover;
  transition: transform 0.3s ease; 
}

.back-button:hover {
  transform: scale(1.3); 
}

.expandMenu, .account, .difficulty, .shop, .instruction, .settings {
  background-size: cover;
  background-color: transparent;
  border: 0;
  transition: transform 0.3s ease, margin-right 0.3s;

  &:hover {
    transform: scale(1.1);
    margin-right: 0;
  }
}

.expandMenu {
  position: absolute;
  top: 20px;
  background-image: url('/images/menu.png');
  height: 50px;
  width: 50px;
}

.account {
  background-image: url('/images/account.png');
  height: 50px;
  width: 50px;
}

.difficulty {
  background-image: url('/images/difficulty.png');
  height: 50px;
  width: 70px;
}

.shop {
  background-image: url('/images/shop.png');
  height: 55px;
  width: 60px;
}

.instruction {
  background-image: url('/images/instruction.png');
  height: 60px;
  width: 60px;
}

.settings {
  background-image: url('/images/settings.png');
  height: 60px;
  width: 60px;
  margin-bottom: 30px;
}

.confirmButton {
  width: 200px;
  height: 100px;
  margin-top: 10%;
  border: none;
  border-radius: 60px;
  font-size: 25px;
  color: $input-placeholder-color;
  background: linear-gradient(to bottom, #F8F0F0 0%, #C2E9EE 100%);
  transition: transform 0.3s ease;
}

.confirmButton:hover {
  transform: scale(1.1);
}

.backToGame {
  position: relative;
  display: block;
  height: 75px;
  width: 10%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg, $button-gradient-start, $button-gradient-end), $button-default-color;
  font-size: 26px;
  font-family: 'Roboto';
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  margin-top: 2%;
}

.logout {
  position: relative;
  display: block;
  height: auto;
  width: 40%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg, $button-gradient-start, $button-gradient-end), $button-default-color;
  font-size: 26px;
  font-family: 'Roboto';
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  margin-top: 2%;
}

@media only screen and (min-width: 2562px) {
  #expand_field_button {
    width: 80px;
    top: 0;
  }
  .voice_button {
    width: 50px;
    bottom: 80px;
    right: 41px;
    transform: scale(1.8);
  }

  .voice_button:hover {
    transform: scale(2.0); 
  }

  #send {
    right: 160px;
    bottom: 65px;
    transform: scale(1.2);
  }

  #send:hover {
    transform: scale(1.5);
  }
  .expandMenu
  {  
    top: 45px;
    left: 45px;
    height: 100px;
    width: 100px;

  }
  .account
  {
    transform: scale(2.0);
    height: 50px;
  }
  .account:hover {
    transform: scale(2.3);
  }
  .difficulty
  { 
    transform: scale(2.3);
    height: 35px;
    width: 50px;  
  }
  .difficulty:hover {
    transform: scale(2.6);
  }
  .shop
  {
    transform: scale(2.3);
    height: 45px;
    width: 50px;
  }
  .shop:hover {
    transform: scale(2.6);
  }
  .instruction
  {
    transform: scale(2.7);
    height: 35px;
    width: 35px;
  }
  .instruction:hover {
    transform: scale(3.0);
  }
  .settings
  {
    transform: scale(2.9);
    height: 35px;
    width: 35px;
    margin-bottom: 120px;
  }
  .settings:hover {
    transform: scale(3.2); // kolejny nie dziala
  }
}

@media only screen and (min-width: 2100px) and (max-width: 2561px) {
  #expand_field_button {
    width: 80px;
    
  }
  .voice_button {
    width: 50px;
    bottom: 80px;
    right: 25px;
    transform: scale(1.8);
  }

  .voice_button:hover {
    transform: scale(2.0); 
  }

  #send {
    right: 140px;
    bottom: 80px;
    transform: scale(1.5);
  }

  #send:hover {
    transform: scale(1.7);
  }
  .expandMenu
  {  
    top: 43px;
    left: 40px;
    height: 85px;
    width: 85px;   
  }
  .expandMenu:hover {
    transform: scale(1.2);
    margin-right: 0;
  }
  .account
  {
    transform: scale(1.7);
    height: 50px;
  }
  .account:hover {
    transform: scale(1.9);
  }
  .difficulty
  { 
    transform: scale(2.0);
    height: 35px;
    width: 50px;  
  }
  .difficulty:hover {
    transform: scale(2.3);
  }
  .shop
  {
    transform: scale(2.0);
    height: 45px;
    width: 50px;
  }
  .shop:hover {
    transform: scale(2.3);
  }
  .instruction
  {
    transform: scale(2.4);
    height: 35px;
    width: 35px;
  }
  .instruction:hover {
    transform: scale(2.7);
  }
  .settings
  {
    transform: scale(2.5);
    height: 35px;
    width: 35px;
    margin-bottom: 85px;
  }
  .settings:hover {
    transform: scale(2.8);
  }
}


@media only screen and (min-width: 1801px) and (max-width: 2100px) {
  #expand_field_button {
    width: 80px;
    top: 0;
  }
  .voice_button {
    width: 50px;
    bottom: 80px;
    right: 20px;
    transform: scale(1.8);
  }

  .voice_button:hover {
    transform: scale(2.0); 
  }

  #send {
    bottom: 75px;
    right: 120px;
    transform: scale(1.2);
  }

  #send:hover {
    transform: scale(1.4);
  }
  .expandMenu
  {  
    top: 43px;
    left: 42px;
    height: 75px;
    width: 75px;

  }
  .expandMenu:hover {
    transform: scale(1.3);
  }
  .account
  {
    transform: scale(1.6);
    height: 50px;
  }
  .account:hover {
    transform: scale(1.9);
  }
  .difficulty
  { 
    transform: scale(1.9);
    height: 35px;
    width: 50px;  
  }
  .difficulty:hover {
    transform: scale(2.2);
  }
  .shop
  {
    transform: scale(1.8);
    height: 45px;
    width: 50px;
  }
  .shop:hover {
    transform: scale(2.1);
  }
  .instruction
  {
    transform: scale(2.1);
    height: 35px;
    width: 35px;
  }
  .instruction:hover {
    transform: scale(2.4);
  }
  .settings
  {
    transform: scale(2.3);
    height: 35px;
    width: 35px;
    margin-bottom: 80px;
  }
  .settings:hover {
    transform: scale(2.6); // nie dziala
  }
}


@media only screen and (min-width: 1601px) and (max-width: 1800px) {
  #expand_field_button {
    width: 60px;
    top: 0;
  }
  .voice_button {
    width: 50px;
    bottom: 70px;
    right: 16px;
    transform: scale(1.6);
  }

  .voice_button:hover {
    transform: scale(1.8); 
  }

  #send {
    bottom: 35px;
  }
  .expandMenu
  {  
    height: 55px;
    width: 55px;
  }
  .expandMenu:hover {
    transform: scale(1.3);
  }
  .account
  {
    transform: scale(1.3);
    height: 50px;
  }
  .account:hover {
    transform: scale(1.5);
  }
  .difficulty
  { 
    transform: scale(1.5);
    height: 35px;
    width: 50px;  
  }
  .difficulty:hover {
    transform: scale(1.7);
  }
  .shop
  {
    transform: scale(1.5);
    height: 45px;
    width: 50px;
  }
  .shop:hover {
    transform: scale(1.7);
  }
  .instruction
  {
    transform: scale(1.8);
    height: 35px;
    width: 35px;
  }
  .instruction:hover {
    transform: scale(2.0);
  }
  .settings
  {
    transform: scale(2.0);
    height: 35px;
    width: 35px;
    margin-bottom: 70px;
  }
  .settings:hover {
    transform: scale(2.2);
  }
}

@media only screen and (max-width: 1600px) {
  #expand_field_button {
    width: 60px;
  }
  .voice_button {
    width: 50px;
    bottom: 70px;
    right: 15px;
    transform: scale(1.4);
  }
  .voice_button:hover {
    transform: scale(1.6); 
  }
  .expandMenu
  {  
    top: 22px;
    left: 23px;
    height: 60px;
    width: 60px;

  }
  .account
  {
    transform: scale(1.2);
    height: 50px;
  }
  .account:hover {
    transform: scale(1.4);
  }
  .difficulty
  { 
    transform: scale(1.4);
    height: 35px;
    width: 50px;  
  }
  .difficulty:hover {
    transform: scale(1.6);
  }
  .shop
  {
    transform: scale(1.4);
    height: 45px;
    width: 50px;
  }
  .shop:hover {
    transform: scale(1.6);
  }
  .instruction
  {
    transform: scale(1.7);
    height: 35px;
    width: 35px;
  }
  .instruction:hover {
    transform: scale(1.9);
  }
  .settings
  {
    transform: scale(1.8);
    height: 35px;
    width: 35px;
    margin-bottom: 70px;
  }
  .settings:hover {
    transform: scale(2.0);
  }
}


@media only screen and (max-width: 1400px) {
  #expand_field_button {
    width: 55px;
  }
  .voice_button {
    width: 60px;
    left: 88.5%;
  }
  .expandMenu
  {  
    top: 22px;
    left: 24px;
    height: 50px;
    width: 50px;
  }
  .expandMenu:hover {
    transform: scale(1.2);
  }
  .account
  {
    transform: scale(1.0);
    height: 50px;
  }
  .account:hover {
    transform: scale(1.2);
  }
  .difficulty
  { 
    transform: scale(1.2);
    height: 35px;
    width: 50px;  
  }
  .difficulty:hover {
    transform: scale(1.4);
  }
  .shop
  {
    transform: scale(1.2);
    height: 45px;
    width: 50px;
  }
  .shop:hover {
    transform: scale(1.4);
  }
  .instruction
  {
    transform: scale(1.4);
    height: 35px;
    width: 35px;
  }
  .instruction:hover {
    transform: scale(1.6);
  }
  .settings
  {
    transform: scale(1.5);
    height: 35px;
    width: 35px;
    margin-bottom: 50px;
  }
  .settings:hover {
    transform: scale(1.7);
  }
}

@media only screen and (max-width: 1280px) {
  .voice_button {
    width: 60px;
  }
  #expand_field_button {
    width: 50px;
  }
  .expandMenu
  {  
    top: 16px;
    left: 14px;
    height: 35px;
    width: 35px;
  }
  .expandMenu:hover {
    transform: scale(1.2);
  }
  .account
  {
    transform: scale(0.7);
    height: 50px;
  }
  .account:hover {
    transform: scale(0.9);
  }
  .difficulty
  { 
    transform: scale(0.8);
    height: 35px;
    width: 50px;  
  }
  .difficulty:hover {
    transform: scale(1.0);
  }
  .shop
  {
    transform: scale(0.8);
    height: 45px;
    width: 50px;
  }
  .shop:hover {
    transform: scale(1.0);
  }
  .instruction
  {
    transform: scale(1.0);
    height: 35px;
    width: 35px;
  }
  .instruction:hover {
    transform: scale(1.2);
  }
  .settings
  {
    transform: scale(1.1);
    height: 35px;
    width: 35px;
    margin-bottom: 30px;
  }
  .settings:hover {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 900px) {
  .voice_button {
    width: 60px;
  }
  #expand_field_button {
    width: 50px;
  }
  .expandMenu
  {
    top: 16px;
    left: 14px;
    height: 30px;
    width: 30px;

  }
  .account
  {
    transform: scale(0.6);
    height: 50px;
  }
  .account:hover {
    transform: scale(0.7);
  }
  .difficulty
  { 
    transform: scale(0.8);
    height: 35px;
    width: 50px;  
  }
  .difficulty:hover {
    transform: scale(0.9);
  }
  .shop
  {
    transform: scale(0.8);
    height: 40px;
    width: 45px;
  }
  .shop:hover {
    transform: scale(0.9);
  }
  .instruction
  {
    transform: scale(0.8);
    height: 40px;
    width: 40px;
  }
  .instruction:hover {
    transform: scale(0.9);
  }
  .settings
  {
    transform: scale(0.8);
    height: 45px;
    width: 45px;
    margin-bottom: 25px;
  }
  .settings:hover {
    transform: scale(0.9);
  }
}
