$text-input-border-radius: 8px;
$text-input-border: 1px solid #404040;
$text-input-padding: 10px;
$text-input-font-size: 16px;
$text-input-width: 80%;
$text-input-height: 10%;
$text-input-padding-right: 15%;

$input-background-color: rgba(222, 226, 230, 0.5);
$input-placeholder-color: #343a40;

input[type="text"],
textarea {
  border-radius: $text-input-border-radius;
  border: $text-input-border;
  padding: $text-input-padding;
  font-size: $text-input-font-size;
  font-family: inherit;
  color: black;
  width: $text-input-width;
  height: $text-input-height;
  padding-right: $text-input-padding-right;
  overflow-y: auto; 
  scrollbar-width: thin; 
  background-color: $input-background-color;
  resize: none;
  backdrop-filter: blur(5px);

  &::placeholder {
    color: $input-placeholder-color;
  }
}

p {
  position: absolute;
  bottom: 7px;
  right: 6%;
  font-family: inherit;
  font-size: 14px;
  color: black;
}

label[for="login"]{
	padding-left: 37%;
	top: 0px;
	left: 111.5px;
	width: 286px;
	height: 110px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 80px;
	text-align: left;
	color: #185E85;
	font-weight: bold;
}

label[for="email-label"] {
	top: 0px;
	left: 20%;
	width: 351.6px;
	height: 53.6px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: left;
	color:#185E85;
}

label[for="password-label"] {
	top: 0px;
	  left: 0px;
	  width: 351.6px;
	  height: 53.6px;
	  overflow: hidden;
	  font-family: Roboto;
	  font-size: 36px;
	  text-align: left;
	  color:#185E85;
  }

#email, #password {
  top: 43px;
	left: 0px;
	width: 600px;
	height: 85px;
	padding-left: 20px;
	font-size: 32px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-ms-box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:inset 0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-224.90398121603deg , rgba(132.33,191.39,224.61,0.5) 0%, rgba(23.22,73.75,95.41,0.15) 100%);
	background: -o-linear-gradient(-224.90398121603deg , rgba(132.33,191.39,224.61,0.5) 0%, rgba(23.22,73.75,95.41,0.15) 100%);
	background: -moz-linear-gradient(-224.90398121603deg , rgba(132.33,191.39,224.61,0.5) 0%, rgba(23.22,73.75,95.41,0.15) 100%);
	background: -ms-linear-gradient(-224.90398121603deg , rgba(132.33,191.39,224.61,0.5) 0%, rgba(23.22,73.75,95.41,0.15) 100%);
	background: linear-gradient(-224.90398121603deg , rgba(132.33,191.39,224.61,0.5) 0%, rgba(23.22,73.75,95.41,0.15) 100%);
}

#password {
	width: 765px;
	height: 100px;
	color: black;
}

