:root
{
  --isListeningProps_marginTop_true: 0px;
  --isListeningProps_marginTop_false: 0px;
  --isListeningProps_width_true_true: 0px;
  --isListeningProps_width_true_false: 0px;
  --isListeningProps_width_false_true: 0px;
  --isListeningProps_width_false_false: 0px;
}
textarea {
  position: absolute;
  left: 2%;
  bottom: 20px;
  border-radius: 10px;
  resize: none;
  padding: 1%;
  padding-right: 10%;
  font-family: "Roboto";
  font-size: 18px;
  overflow: auto;
  color: $input-placeholder-color;
  -ms-box-shadow: inset 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0);
  background: -webkit-linear-gradient(
    -224.90398121603deg,
    rgba(132.33, 191.39, 224.61, 0.5) 0%,
    rgba(23.22, 73.75, 95.41, 0.15) 100%
  );
  background: -o-linear-gradient(
    -224.90398121603deg,
    rgba(132.33, 191.39, 224.61, 0.5) 0%,
    rgba(23.22, 73.75, 95.41, 0.15) 100%
  );
  background: -moz-linear-gradient(
    -224.90398121603deg,
    rgba(132.33, 191.39, 224.61, 0.5) 0%,
    rgba(23.22, 73.75, 95.41, 0.15) 100%
  );
  background: -ms-linear-gradient(
    -224.90398121603deg,
    rgba(132.33, 191.39, 224.61, 0.5) 0%,
    rgba(23.22, 73.75, 95.41, 0.15) 100%
  );
  background: linear-gradient(
    -224.90398121603deg,
    rgba(132.33, 191.39, 224.61, 0.5) 0%,
    rgba(23.22, 73.75, 95.41, 0.15) 100%
  );

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #195E85;
    border-radius: 20px;
  }
}

.word-counter {
  position: absolute;
  bottom: 7px;
  right: 30px;

  font-family: inherit;
  font-size: 14px;
  color: black;
}

label[for="register"], label[for="login"] {
  padding-left: 17%;
  width: 500px;
  height: 60px;
  overflow: hidden;
  font-family: "Roboto";
  font-size: 45px;
  color: $label-color;
  font-weight: bold;
}

label[for="email-label"],
label[for="email-register-label"],
label[for="password-label"],
label[for="password-register-label"],
label[for="password-repeat-label"] {
  width: 300px;
  height: 40px;
  overflow: hidden;
  font-family: "Roboto";
  font-size: 32px;
  text-align: left;
  color: $label-color;
}

#password,
#repeat-password,
#email {
  top: 40px;
  left: 0px;
  width: 600px;
  height: 85px;
  padding-left: 10px;
  font-size: 32px;
  color: $black;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px 1px $button-login-shadow;
  background: $password-input-background;
  background: -webkit-linear-gradient(
    -224.90398121603deg,
    $password-input-gradient-start 0%,
    $password-input-gradient-end 100%
  );
  background: -o-linear-gradient(
    -224.90398121603deg,
    $password-input-gradient-start 0%,
    $password-input-gradient-end 100%
  );
  background: -moz-linear-gradient(
    -224.90398121603deg,
    $password-input-gradient-start 0%,
    $password-input-gradient-end 100%
  );
  background: -ms-linear-gradient(
    -224.90398121603deg,
    $password-input-gradient-start 0%,
    $password-input-gradient-end 100%
  );
  background: linear-gradient(
    -224.90398121603deg,
    $password-input-gradient-start 0%,
    $password-input-gradient-end 100%
  );
}

.instruction_content {
  font-size: 20px;
  list-style-type: none;
  padding-left: 5%;
  padding-right: 5%;
}

.NPCname,
.UserName {
  position: absolute;
  width: 150px;
  height: 75px;
  top: 15%;
  left: -1%;
  font-size: 20px;
  font-family: "Roboto-Bold";
  color: $label-color;
}

.message {
  font-family: "Roboto-Bold";
  font-size: 20px;
  color: $label-color;
  text-align: left;
  margin-left: 1%;
  padding: 1%;
  padding-right: 20%;
}

.user-label {
  font-family: "Roboto-Black";
  color: #0e3246;
}

.npc-label {
  font-family: "Roboto-Black";
  color: #0e3246;
}

.slider-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.level-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Roboto-Bold';
}

.slider-wrapper {
  position: relative;
}

.thumb {
  width: 20px;
  height: 20px;
  background-color: $input-placeholder-color; 
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -5px;
}

.track-container {
  position: relative;
}

.track {
  border-radius: 20px;
  height: 10px;
  background-color: #F8F0F0;
}

.new-track {
  border-radius: 20px;
  height: 10px;
  background-color: $input-placeholder-color;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 2561px) {
  .user-label {
    font-size: 23px;
  }
  .user-message {
    font-size: 23px;
  }
  .npc-message {
    font-size: 23px;
  }
  .npc-label {
    font-size: 23px;
  }
  .instruction_content {
    font-size: 20px;
  }
  #paragraph {
    font-size: 15px;
    right: 45px;
  }
}

@media only screen and (min-width: 2100px) and (max-width: 2561px) {
  .message-container {
    position: relative;
    margin-top: 1%;
    padding: 10px;
    height: 60%;
  }
  
  .user-label {
    font-size: 22px;
  }

  .user-message {
    font-size: 22px;
  }
  .npc-message {
    font-size: 22px;
  }

  .npc-label {
    font-size: 22px;
  }
  .instruction_content {
    font-size: 25px;
  }
  textarea {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1801px) and (max-width: 2100px) {

  #paragraph {
    font-size: 20px;
    bottom: -5px;
    right: 40px;
  }

  .user-label {
    font-size: 20px;
  }

  .user-message {
    font-size: 20px;
  }
  .npc-message {
    font-size: 20px;
  }

  .npc-label {
    font-size: 20px;
  }
  .instruction_content {
    font-size: 23px;
  }
  textarea {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1800px) {

  #paragraph {
    right: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  :root{
    --isListeningProps_marginTop_true: 0px;
    --isListeningProps_marginTop_false: 0px;
    --isListeningProps_width_true_true: 40px; //expanded true rozmiar 
    --isListeningProps_width_true_false: 40px; //expanded false rozmiar 
    --isListeningProps_width_false_true: 100px;
    --isListeningProps_width_false_false: 0px;
  }
  #paragraph {
    font-size: 20px;
    bottom: -5px;
    right: 40px;
  }

  .user-label {
    font-size: 13px;
  }

  .user-message {
    font-size: 13px;
  }
  .npc-message {
    font-size: 13px;
  }

  .npc-label {
    font-size: 13px;
  }
  .instruction_content {
    font-size: 15px;
  }
  textarea {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {

  #paragraph {
    font-size: 20px;
    bottom: -5px;
    right: 40px;
  }

  .user-label {
    font-size: 12px;
  }

  .user-message {
    font-size: 12px;
  }
  .npc-message {
    font-size: 12px;
  }

  .npc-label {
    font-size: 12px;
  }
  .instruction_content {
    font-size: 15px;
  }
  textarea {
    font-size: 15px;
  }

}
