.error, .error404, .loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 15%;
    background-color: $button-gradient-start;
    backdrop-filter: blur(18px);
    color: $label-color;
}

.loader-container {
    font-size: 50px;
}

.bouncing-dots {
    transform: scale(3.0);
    margin-bottom: 2%;
}