$button-hover-color: #646cff;
$button-gradient-start: rgba(255, 255, 255, 0.5);
$button-gradient-end: rgba(255, 255, 255, 0.3);
$button-default-color: #1b7ec0;
$button-hover-color-alt: #0056b3;
$button-login-shadow: rgba(0, 0, 0, 0.25);
$back-button-background: transparent;
$label-color: #185E85;
$password-label-color: #185E85;
$password-input-color: black;
$password-input-border-color: black;
$password-input-background: rgba(255, 255, 255, 0);
$password-input-gradient-start: rgba(132.33, 191.39, 224.61, 0.5);
$password-input-gradient-end: rgba(23.22, 73.75, 95.41, 0.15);
$input-background-color: rgba(222, 226, 230, 0.5);
$input-placeholder-color: #0B3349;
$black: black;
$border-one: #404040;