body {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 700px;
    height: 600px;
    position: relative;
    border-radius: 30px;
  }
  
  .login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(18px); 
    border-radius: inherit; 
  }

  .login-content {
    position: relative; 
    z-index: 1; 
    padding: 20px;

    label {
        display: block;
        margin-bottom: 5px;
        padding-left: 5%;
    }
}
  
