#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

canvas{
  height: 100vh;
}

.main-ui{
  z-index: 2;
  display: block;
  position: fixed;
  width: 600px;
  height: auto;
  top: 90%;
  transform: translate(-40%, -50%);
}

#webgl{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}