.main-ui {
  z-index: 2;
  display: block;
  position: fixed;
  width: 1000px;
  height: 250px;
  border-radius: 30px;
  background-color: $button-gradient-start;
  backdrop-filter: blur(18px);
  left: calc(50% - 500px);
}


.animated-gif {
  position: relative;
  width: 150px;
  height: 75px;
  top: 30%;
  right: 43%;
}
