:root {
  --animationProps_height_expanded_clicked_true: 250px;
  --animationProps_height_expanded_unclicked_false: 100px;

  --animationProps_height_unexpanded_clicked_false: 850px;
  --animationProps_height_unexpanded_unclicked_true: 250px;

  --animationProps_transform_visible_expanded_clicked_true: translateY(0%);
  --animationProps_transform_visible_expanded_unclicked_false: translateY(0%);
  --animationProps_transform_invisible_true: translateY(100%);

  --animationProps_top_expanded_clicked_true: 70%;
  --animationProps_top_expanded_unclicked_false: 0%;

  --animationProps_top_unexpanded_clicked_false: 35%;
  --animationProps_top_unexpanded_unclicked_true: 70%; //общий блок относительно экрана

  --textareaAnimationProps_marginTop_true: 0px;
  --textareaAnimationProps_marginTop_false: 410px;

  --buttonAnimationProps_marginTop_true: 0px;
  --buttonAnimationProps_marginTop_false: 210px;

  --buttonVoiceProps_marginTop_true: 0px;
  --buttonVoiceProps_marginTop_false: 350px;

  --isListeningProps_marginTop_true: 0px;
  --isListeningProps_marginTop_false: 133px;

  --isListeningProps_width_true_true: 45px;
  --isListeningProps_width_true_false: 45px;

  --isListeningProps_width_false_true: 45px;
  --isListeningProps_width_false_false: 0px;

  --buttonExpandProps_marginTop_true: -30px;
  --buttonExpandProps_marginTop_false: 0px;
}

.main-ui {
  display: flex;
  z-index: 2;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: $button-gradient-start;
  backdrop-filter: blur(18px);
}

.message-scroll {
  height: 500px;
  width: 93%;
  max-height: 500px;
  overflow-y: auto;
}

.message-scroll::-webkit-scrollbar {
  padding-right: 10%;
  width: 10px;
}

.message-scroll::-webkit-scrollbar-track {
  background: #a1b7d9;
  border-radius: 10px;
}

.message-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #195e85;
}

.bouncing-dots {
  margin-left: 7%;
  margin-top: -2%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: $label-color;
  margin: 0 5px;
  animation: bounce 0.5s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.25s;
}

.dot:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
//----------------2560 x 1440 (QHD)----------------
@media only screen and (min-width: 2559px) {
  :root {
    --animationProps_height_expanded_clicked_true: 100px;
    --animationProps_height_expanded_unclicked_false: 100px;
    --animationProps_top_unexpanded_unclicked_true: 65%;
    --animationProps_top_unexpanded_clicked_false: 5%;
    --animationProps_height_unexpanded_clicked_false: 90%;
    --animationProps_height_unexpanded_unclicked_true: 30%;
    --buttonExpandProps_marginTop_true: -60px;
    --buttonExpandProps_marginTop_false: 5px;
  }
  .main-ui {
    width: 1200px;
    textarea {
      width: calc(100% - 29%);
    }
  }
  .message-scroll {
    height: 350px;
  }
}

@media only screen and (min-width: 2121px) and (max-width: 2558px) {
  :root {
    --animationProps_height_expanded_clicked_true: 100px;
    --animationProps_height_expanded_unclicked_false: 100px;
    --animationProps_top_unexpanded_unclicked_true: 65%;
    --animationProps_top_unexpanded_clicked_false: 5%;
    --animationProps_height_unexpanded_clicked_false: 90%;
    --animationProps_height_unexpanded_unclicked_true: 30%;
    --buttonExpandProps_marginTop_true: -60px;
    --buttonExpandProps_marginTop_false: 5px;
  }
  .main-ui {
    width: 1500px;
    textarea {
      width: calc(100% - 25%);
    }
  }
  .message-scroll {
    height: 350px;
  }
}




//----------------1920 x 1080 (Full HD)----------------
@media only screen and (min-width: 1801px) and (max-width: 2120px) {
  :root {  
    --animationProps_height_expanded_clicked_true: 100px;
    --animationProps_height_expanded_unclicked_false: 100px;
    --animationProps_top_unexpanded_unclicked_true: 65%;
    --animationProps_top_unexpanded_clicked_false: 5%;
    --animationProps_height_unexpanded_clicked_false: 90%;
    --animationProps_height_unexpanded_unclicked_true: 30%;
    --buttonExpandProps_marginTop_true: -60px;
    --buttonExpandProps_marginTop_false: 5px;
  }
  .main-ui {
    width: 1200px;
    textarea {
      width: calc(100% - 25%);
    }
  }
  .message-scroll {
    height: 350px;
  }
}
//----------------1600 x 900 (HD+)----------------
@media only screen and (min-width: 1281px) and (max-width: 1800px) {
  :root {
    --animationProps_height_expanded_clicked_true: 100px;
    --animationProps_height_expanded_unclicked_false: 100px;
    --animationProps_top_unexpanded_unclicked_true: 65%;
    --animationProps_top_unexpanded_clicked_false: 5%;
    --animationProps_height_unexpanded_clicked_false: 90%;
    --animationProps_height_unexpanded_unclicked_true: 30%;
    --buttonExpandProps_marginTop_true: -80px;
    --buttonExpandProps_marginTop_false: 5px;
  }
  .main-ui {
    width: 800px;

    textarea {
      width: calc(100% - 29%);      
    }
  }
  .message-scroll {
    height: 350px;
  }
}
//----------------1280 x 800 (WXGA)----------------
@media only screen and (max-width: 1280px) {
  :root {
    --animationProps_height_expanded_clicked_true: 100px;
    --animationProps_height_expanded_unclicked_false: 100px;
    --animationProps_top_unexpanded_unclicked_true: 65%;
    --animationProps_top_unexpanded_clicked_false: 5%;
    --animationProps_height_unexpanded_clicked_false: 90%;
    --animationProps_height_unexpanded_unclicked_true: 30%;
    --buttonExpandProps_marginTop_true: -60px;
    --buttonExpandProps_marginTop_false: 5px;
  }
  .main-ui {
    width: 600px;
    textarea {
      width: calc(100% - 29%);
      height: 50px;

    }
  }
  .message-scroll {
    height: 350px;
  }
}