.main-ui {
  z-index: 2;
  display: block;
  position: fixed;
  width: 1000px;
  height: 250px;
  border-radius: 30px;
  background-color: $button-gradient-start;
  backdrop-filter: blur(18px);
}

.animated-gif {
  position: absolute;
  width: 150px;
  height: 75px;
  top: 35%;
  right: 85%;
}

.message-scroll {
  height: 500px;
  width: 93%;
  max-height: 500px;
  overflow-y: scroll;
}

.message-scroll::-webkit-scrollbar {
  padding-right: 10%;
  width: 10px;
}

.message-scroll::-webkit-scrollbar-track {
  background: #A1B7D9;
  border-radius: 10px;
}

.message-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #195E85; 
}